#number {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 5px solid #999999;
    background-color: #FFFFCC;
}

.button {
    font-size: 30px;
}

.button2 {
    font-size: 15px;
    width: 400px;
    /* display: block;
    margin: 0 0 0 auto; */

    position: absolute;
    right: 0;
    bottom: 0;

}

.setting {
    font-size: 20px;
    text-align: right;
}
